AIRTABLE_BASE_ID=YOUR_AIRTABLE_BASE_ID
AIRTABLE_API_KEY=YOUR_AIRTABLE_API_KEY
AIRTABLE_TABLE_NAME=YOUR_AIRTABLE_TABLE_NAME
SLACK_APP_TOKEN=YOUR_SLACK_APP_TOKEN
SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN
CHANNEL_ID=YOUR_CHANNEL_ID